@using UTS.ScheduleSystem.WebMVC.Models
@model HomeControllerViewModels
@{
    ViewBag.Title = "Home Page";
    var answer = ViewBag.Answer;
}
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <img src="~/Images/logo_new.bmp" height="410" width="360" />
            @using (Html.BeginForm())
            {
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Question, new { @Class = "form-control", @Value = "", @maxlength = "15" })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" value="Save">Submit</button>
                    </span>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <br />
            <h4>@answer</h4>
            <br />
        </div>
    </div>
</div>
<br />


