@using UTS.ScheduleSystem.WebMVC.Models
    @model HomeControllerViewModels
@{
    ViewBag.Title = "Home Page";
    var answer = ViewBag.Answer;
}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            @using (Html.BeginForm())
            {
        <div class="input-group">
            @Html.TextBoxFor(x => x.Question, new {@Class="form-control", @Value = "" })
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" value="Save">Submit</button>
            </span>
        </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            @answer
        </div>
    </div>
</div>


